<html>
    <head>
        {% if title %}
        <title>{{ title }} -myblog</title>
        {% else %}
        <title>Welcome -myblog</title>
        {% endif %}
    </head>
    <body>
        <div>Myblog:<a href="/index">Home</a> </div>
        <hr>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>